<!DOCTYPE html>
<html>
<head lang="zh-Hant">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/
➥3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/
➥1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="../../includes/bootstrap/css/bootstrap.css">
    <script src="../../includes/jquery/jquery-2.1.1.min.js"></script>
    <script src="../../includes/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="style.css">
    <title></title>
</head>
<body>
<div class="container-fulid">
    <div id="bestCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#bestCarsCarousel" data-slide-to="0"></li>
            <li data-target="#bestCarsCarousel" data-slide-to="1" class="active" ></li>
            <li data-target="#bestCarsCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item "><img src="../../images/1.jpg" alt="1"/>

                <div class="carousel-caption">
                    <h3>Img 1</h3>

                    <p>This is Img 1</p>
                </div>
            </div>
            <div class="item active"><img src="../../images/2.jpg" alt="2"/>

                <div class="carousel-caption">
                    <h3>Img 2</h3>

                    <p>This is Img 2</p>
                </div>
            </div>
            <div class="item"><img src="../../images/3.jpg" alt="3"/>

                <div class="carousel-caption">
                    <h3>Img 3</h3>

                    <p>This is Img 3</p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" data-slide="prev" href="#bestCarousel"><span
            class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" data-slide="next" href="#bestCarousel"><span
            class="glyphicon glyphicon-chevron-right">

        </span></a>
</div>
</body>
</html>