<!DOCTYPE html>
<html>
<head lang="zh-Hant">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/
➥3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/
➥1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="../../includes/bootstrap/css/bootstrap.css">
    <script src="../../includes/jquery/jquery-2.1.1.min.js"></script>
    <script src="../../includes/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="style.css">
    <title></title>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Chaper 3
            <small>Exploring Bootstrap Components</small>
        </h1>

    </div>
    <div class="panel panel-default">
        <div class="panel-heading">ATTENTION</div>
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
        </div>
        <div class="panel-footer">
            <a class="btn btn-danger btn-sm" href="#">Agree</a>
            <a class="btn btn-default btn-sm" href="#">Decline</a>
        </div>
    </div>
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="../../images/1.jpg" alt="Slam Dunk"/></a>

        <div class="media-body">
            <h4 class="media-heading">君が好きだと叫びたい</h4>

            <p>君(きみ)に夢中(むちゅう)なことに 理由(わけ)なんてないのに その腕(うで)は 絡(から)むことはない いつの間(ま)にか瞳(ひとみ)
                奪(うば)われて始(はじ)まった 離(はな)さない 搖(ゆ)るがない Crazy for you</p>

            <!--second Media Object-->
            <div class="media">
                <a class="pull-left" href=""><img class="media-object" src="../../images/1.jpg" alt=""/></a>

                <div class="media-body">
                    <h4 class="media-heading">君が好きだと叫びたい</h4>

                    <p>君(きみ)に夢中(むちゅう)なことに 理由(わけ)なんてないのに その腕(うで)は 絡(から)むことはない いつの間(ま)にか瞳(ひとみ)
                        奪(うば)われて始(はじ)まった 離(はな)さない 搖(ゆ)るがない Crazy for you</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <a class="thumbnail" href="# ">
                <img src="../../images/apple.png" alt="apple"/>

                <div class="caption">
                    <h3>Apple</h3>
                </div>
            </a>
        </div>
        <div class="col-xs-3">
            <div class="thumbnail"><img src="../../images/google.png" alt="Google"/>
                <div class="caption">
                    <h3>Google</h3>
                    <p>Google was created by Larry Page..</p>
                    <p><a class="btn btn-primary" href="">ReadMore</a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <a class="thumbnail" href="# ">
                <img src="../../images/microsoft.png" alt="microsoft"/>

                <div class="caption">
                    <h3>Microsoft</h3>
                </div>
            </a>
        </div>
        <div class="col-xs-3">
            <a class="thumbnail" href="# ">
                <img src="../../images/sitepoint.png" alt="site"/>

                <div class="caption">
                    <h3>Sitepoint</h3>
                </div>
            </a>
        </div>
        <div class="clearfix"></div>
        My Item
        <ul class="list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">Item heading</h4>
                <p class="list-group-item-text ">Item Content is be here,today is blue monday</p>
            </a>
            <li class="list-group-item list-group-item-info">item1    <span class="badge">14</span></li>
            <li class="list-group-item">item2</li>
            <li class="list-group-item">item3</li>
            <li class="list-group-item">item4</li>
        </ul>
    </div>

</div>


</body>
</html>