<!DOCTYPE html>
<html>
<head lang="zh-Hant">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/
➥3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/
➥1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="../../includes/bootstrap/css/bootstrap.css">
    <script src="../../includes/jquery/jquery-2.1.1.min.js"></script>
    <script src="../../includes/bootstrap/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
    <title></title>
</head>
<body>
<ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#">About</a></li>
    <li><a href="">Activity</a></li>
    <li><a href="">Link Pages</a></li>
</ul>
<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar-content">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SitePoint</a>
        </div>
        <div class="collapse navbar-collapse" id="mynavbar-content">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#" class="dropdown-toggle d" data-toggle="dropdown">Item1
                    <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">dropdown item1</a></li>
                        <li><a href="#">dropdown item2</a></li>
                        <li><a href="#">dropdown item3</a></li>
                        <li class="divider"></li>
                        <li><a href="">dropdown item1</a></li>
                        <li><a href="">dropdown item2</a></li>
                    </ul>
                </li>
                <li><a href="#">Item2</a></li>
                <li><a href="#">Item3</a></li>
                <li><a href="#">Item4</a></li>
            </ul>
        </div>
    </div>
</div>
<ol class="breadcrumb">
    <li><a href="#">item1</a></li>
    <li><a href="#">item2</a></li>
    <li class="active">item3</li>
</ol>

</body>
</html>